@import "_variables.scss";


.btn1 {
    position: relative;
    height: 20rem;
    transition: all 0.3s;
    border-radius: 50% ;
}

.btn1:hover {
    padding: 5vh 0vh;
    transform: scale(1.3);
    filter: blur(1px);

}

.text {
    position: absolute;
    color: white;
}