@import "_variables.scss";

.fruit-parent{
    width: 60rem;
    height: 40rem;
    margin: 3rem;
}

.fruit-gallery {
    margin: 1.5rem;
    position: relative;
}

.fruit-photo {
    position: absolute;
    height: 20rem;
    transition: all 0.3s;
}
.fruit-photo:hover {
    transform: scale(1.3);
    outline: .5rem solid color(green);
    z-index: 2;
}    

.fruit-gallery:hover .fruit-photo:not(:hover){
    transform: scale(0.8);
    filter: blur(1px) grayscale(100%);
}

.orange {
    top: 10rem;
    left: 37%;
}

.strawberry{
    top: 5rem;
    left: 57%;
}

.watermelon{
    top: 0rem;
    left: 37%;
}

.apple{
    top: 5rem;
    left: 17%;
}
