@import "_variables.scss";

.citynight2{
    height: 30rem;
    position: relative;
}

.citynight2-picture{
    height: 100%;
    transition: all 0.3s;
}


.citynight2-header{
    font-size: 3rem;
    opacity: 0;
    color: color(white);
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: all 0.3s;
}

.citynight2:hover .citynight2-picture{
    filter: sepia(100%);
    margin: 2rem;
    border-radius: 15rem;
}

.citynight2:hover .citynight2-header{
    opacity: 1;
    top: 45%;
}