@import "_variables.scss";

.btn2,
.btn2:link,
.btn2:visited{
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    background-color: color(green);
    margin: 1rem auto;
    font-size: 2rem;
    border-radius: 10rem;
    transition: all .3s;
    position: relative;
}


.btn-green {
    background-color: color(green);
    color: #fff;
}

.btn-green::after {
    background-color: color(green);
    color: #fff;
}

.btn2:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 0.5rem rgba(color(black), $alpha: .6);
    color: black;
}

.btn2::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .3s;
}

.btn2:hover::after{
    transform: scaleX(1.5) scaleY(1.6);
    opacity: 0;
}

.btn2:active{
    transform: translateY(-1px);
    transform: scaleX(1.5) scaleY(1.6);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}