html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  background-color: #00b0ff;
  margin: 3rem;
  font-size: 2rem;
  border-radius: 10rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  width: 30rem;
}

.btn:hover {
  background-color: #ff0000;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
          box-shadow: 0 10px 0.5rem rgba(0, 0, 0, 0.6);
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.citynight2 {
  height: 30rem;
  position: relative;
}

.citynight2-picture {
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.citynight2-header {
  font-size: 3rem;
  opacity: 0;
  color: #fff;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.citynight2:hover .citynight2-picture {
  -webkit-filter: sepia(100%);
          filter: sepia(100%);
  margin: 2rem;
  border-radius: 15rem;
}

.citynight2:hover .citynight2-header {
  opacity: 1;
  top: 45%;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.citynight {
  position: relative;
  height: 20rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 1.5rem;
  height: 35rem;
}

.citynight:hover {
  margin: 3rem;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  border-radius: 0vh;
  border-radius: 3vw;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.fruit-parent {
  width: 60rem;
  height: 40rem;
  margin: 3rem;
}

.fruit-gallery {
  margin: 1.5rem;
  position: relative;
}

.fruit-photo {
  position: absolute;
  height: 20rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.fruit-photo:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
  outline: 0.5rem solid lime;
  z-index: 2;
}

.fruit-gallery:hover .fruit-photo:not(:hover) {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: blur(1px) grayscale(100%);
          filter: blur(1px) grayscale(100%);
}

.orange {
  top: 10rem;
  left: 37%;
}

.strawberry {
  top: 5rem;
  left: 57%;
}

.watermelon {
  top: 0rem;
  left: 37%;
}

.apple {
  top: 5rem;
  left: 17%;
}

html,
body {
  font-size: 62.5%;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.citynight3 {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.citynight3:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
  -webkit-filter: brightness(200%);
          filter: brightness(200%);
  outline: 1rem solid lime;
}

.container {
  width: 80vw;
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.title {
  color: black;
  font-size: 10vh;
}
/*# sourceMappingURL=style.css.map */